body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90%; /* Changed to percentage */
    margin: 5% auto; /* Changed to percentage */
    background-color: #fff;
    padding: 5%; /* Changed to percentage */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.description {
    text-align: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column; /* Changed from row to column on small screens */
    align-items: center;
    margin-bottom: 20px;
}

.age-input {
    width: 90%; /* Changed to percentage */
    max-width: 300px; /* Added to limit width on larger screens */
    height: 40px;
    font-size: 1.2em; /* Changed to relative unit */
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.keypad {
    display: flex;
    flex-direction: column;
    margin-left: 0; /* Removed margin on small screens */
}

.key-row {
    display: flex;
    justify-content: space-around; /* Centered on small screens */
    margin-bottom: 10px;
}

.key {
    width: 15%; /* Changed to percentage */
    max-width: 50px; /* Added to limit width on larger screens */
    height: 50px;
    font-size: 1.2em; /* Changed to relative unit */
    border: none;
    border-radius: 4px;
    background-color: #ddd;
    cursor: pointer;
    margin-right: 2.5%; /* Changed to percentage */
}

.key.zero {
    width: 30%; /* Changed to percentage */
    max-width: 100px; /* Added to limit width on larger screens */
}

.key.clear {
    background-color: #ff0000;
    color: #fff;
    margin-right: 0;
    font-size: 1em; /* Changed to relative unit */
    width: 17.5%; /* Changed to percentage */
    max-width: 55px; /* Added to limit width on larger screens */
}

.buttons {
    display: flex;
    flex-direction: column; /* Changed from row to column on small screens */
    justify-content: center;
    margin-bottom: 20px;
}

.actionBtn {
    width: 90%; /* Changed to percentage */
    max-width: 200px; /* Added to limit width on larger screens */
    padding: 10px;
    font-size: 1em; /* Changed to relative unit */
    border: none;
    border-radius: 4px;
    background-color: #2979ff;
    color: #fff;
    cursor: pointer;
}

.actionBtn:hover {
    background-color: #1e65cb;
}

.console {
    text-align: center;
    font-size: 1.2em; /* Changed to relative unit */
}

.console-container {
    background-color: #000000;
    color: white;
    font-family: 'Courier New', monospace;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    height: 50px;
    overflow: auto;
    max-height: 200px; 
}